<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ChartMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Chart">
    <id column="GAME_ID" jdbcType="INTEGER" property="gameId" />
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from chart
    where GAME_ID = #{gameId,jdbcType=INTEGER}
      and USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Chart">
    insert into chart (GAME_ID, USER_ID)
    values (#{gameId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Chart">
    insert into chart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        GAME_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="chartNumOf" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(USER_ID)
    from CHART
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <select id="getMyCart" resultType="com.example.demo.entity.CartItem">
    select distinct chart.game_Id,title,price,cover_Path,discount,chart.CONSOLE_ID,CONSOLE_NAME,categories.CATE_ID,CATE_NAME
    from chart inner join games inner join played_on inner join consoles inner join belong inner join categories
        on chart.game_id=games.game_id and chart.game_id=played_on.game_id and chart.CONSOLE_ID=consoles.CONSOLE_ID
           and belong.GAME_ID=chart.GAME_ID and categories.CATE_ID=belong.CATE_ID
    order by games.GAME_ID
    <if test="reverse&gt;0">desc</if>
    <if test="!reverse&gt;0">asc</if>
    where user_id=#{userId} limit #{startWith},#{endWith};
  </select>

  <insert id="addToCart" >
    insert into chart values(#{gameId},#{userId},#{consoleId});
  </insert>
</mapper>