<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Orders">
    <id column="ORDER_ID" jdbcType="INTEGER" property="orderId" />
    <result column="DATE" jdbcType="DATE" property="date" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="CONSOLE_ID" jdbcType="INTEGER" property="consoleId" />
    <result column="CONTACT_TEL" jdbcType="CHAR" property="contactTel" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="GAME_ID" jdbcType="INTEGER" property="gameId" />
  </resultMap>
  <sql id="Base_Column_List">
    ORDER_ID, DATE, ADDRESS, CONSOLE_ID, CONTACT_TEL, STATUS, USER_ID, GAME_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Orders">
    insert into orders (ORDER_ID, DATE, ADDRESS, 
      CONSOLE_ID, CONTACT_TEL, STATUS, 
      USER_ID, GAME_ID)
    values (#{orderId,jdbcType=INTEGER}, #{date,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{consoleId,jdbcType=INTEGER}, #{contactTel,jdbcType=CHAR}, #{status,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        ORDER_ID,
      </if>
      <if test="date != null">
        DATE,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="consoleId != null">
        CONSOLE_ID,
      </if>
      <if test="contactTel != null">
        CONTACT_TEL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="gameId != null">
        GAME_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="consoleId != null">
        #{consoleId,jdbcType=INTEGER},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Orders">
    update orders
    <set>
      <if test="date != null">
        DATE = #{date,jdbcType=DATE},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="consoleId != null">
        CONSOLE_ID = #{consoleId,jdbcType=INTEGER},
      </if>
      <if test="contactTel != null">
        CONTACT_TEL = #{contactTel,jdbcType=CHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="gameId != null">
        GAME_ID = #{gameId,jdbcType=INTEGER},
      </if>
    </set>
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Orders">
    update orders
    set DATE = #{date,jdbcType=DATE},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CONSOLE_ID = #{consoleId,jdbcType=INTEGER},
      CONTACT_TEL = #{contactTel,jdbcType=CHAR},
      STATUS = #{status,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      GAME_ID = #{gameId,jdbcType=INTEGER}
    where ORDER_ID = #{orderId,jdbcType=INTEGER}
  </update>
  <select id="orderNumOf" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(ORDER_ID)
    from orders
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
</mapper>