<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PlayedOnMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.PlayedOn">
    <id column="GAME_ID" jdbcType="INTEGER" property="gameId" />
    <id column="CONSOLE_ID" jdbcType="INTEGER" property="consoleId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from played_on
    where GAME_ID = #{gameId,jdbcType=INTEGER}
      and CONSOLE_ID = #{consoleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.PlayedOn">
    insert into played_on (GAME_ID, CONSOLE_ID)
    values (#{gameId,jdbcType=INTEGER}, #{consoleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.PlayedOn">
    insert into played_on
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        GAME_ID,
      </if>
      <if test="consoleId != null">
        CONSOLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameId != null">
        #{gameId,jdbcType=INTEGER},
      </if>
      <if test="consoleId != null">
        #{consoleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>